@charset "UTF-8";

body h2{
    color:white;
    
}
h1{
    text-align: center;
    color:white;
    font-family: sans-serif;    
}
h2{
    text-align: center;
    color:white;
    font-family: sans-serif;
}
h3{
    text-align: center;
    color:white;
    font-family: sans-serif;
}
h4{
    color:white;
    font-family: sans-serif;
}

#centro {
    width:70px;
    height:70px;
    margin-left: 640px;
    border-radius: 50%;
}
#adm {
    width:70px;
    height:70px;
    margin-left: 230px;
    margin-top: -50px;
    border-radius: 50%;
}


}