* { 
    margin: 0; 
    padding: 0; 
}
body {
    background: url("../imagens/veio_fade.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 250px 0px;
    margin: 50px;
    font-family: sans-serif;
    overflow: hidden;
   
}

#nav {
    background-color: rgba(6, 76, 255, 0.8);
    font-family: sans-serif;
    position: absolute;
    margin: 0; 
    padding: 0; 
    float: left; 
    left: 0px;
    top: -50px;
    margin-top: 50px;
    height: 705px;
    width: 250px;
}
.Logo{
    display: block;
    height: 70px;
    width: 70px;
    top: 15px;
    left: 90px;
    margin-bottom: 50px;
    position: relative;
    
}
#nav li { 

    font-family: sans-serif;
    list-style: none; 
    color: black;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 13px;
    width: 250px;
    text-align: center;
 }
#nav li a { 
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    padding: 30px 15px;
    color: black;
    height: 10px;  
 }
#nav li a:hover { 
    color: #ffff; 
    background: rgba(255, 0, 0, 0.75);
 }
#nav li ul { 
    display: none;
    background-color: rgba(6, 76, 255, 0.8)
}
#nav li:hover ul { 
    display: block; 
    
}
#nav li:hover ul li { 
    color: black
}
#nav li:hover ul li a { 
    color: black
}
#nav li:hover ul li a:hover {
     background: rgba(255, 0, 0, 0.75);
     color: white;
}
h3{
    position: absolute;
    left: 70px;
    width: 180px;
    height: 0px;
    border: 0.5px solid #000000;
    margin-right: 113.5px;
    margin-bottom: 40px;
}
p{
    text-align: justify;
    margin: 35px;
}
.Text{
    right: -3px;
    position: absolute;
    background-color:#ffff;
    width:361px;
    height: 700px; 
    top: -20px;
    margin: 20px auto;
    border-width: 10px;
}
.title_1{
    position: relative;
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 20px;
}
.title_2{
    position: relative;
    padding-top: 70px;
    margin-top: -20px;
    margin-left: 120px;
    margin-bottom: 20px;
}
